/*-- CSS for Home --*/
.HomeContainer {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

/*-- CSS for Card --*/
.CardContainer {
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 25%;
}

.CardContainer:hover .CardCover {
  top: 0%;
}

.CardImage {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.CardCover {
  background: rgba(0, 0, 0, 0.7);
  display: table;
  height: 100%;
  justify-content: center;
  left: 0%;
  position: absolute;
  text-align: center;
  top: -100%;
  transition: top 0.5s ease;
  width: 100%;
}

.CardName {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.CardLink {
  color: white;
  font-size: 40px;
  text-decoration: none;
  text-transform: capitalize;
}

.CardLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*-- CSS for Dog --*/
.DogContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CarouselContainer {
  background: rgba(0, 0, 0, 0.7);
  height: 550px;
}

.ImageContainer {
  height: 550px;
  text-align: center;
}

.HorizontalImage {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.VerticalImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
