/*-- CSS for Home --*/
.HomeContainer {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

/*-- CSS for Card --*/
.CardContainer {
  background-color: lightgrey;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 25%;
}

.CardContainer:hover .CardCover {
  top: 0%;
}

.CardImage {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.CardCover {
  background: rgba(0, 0, 0, 0.7);
  display: table;
  height: 100%;
  justify-content: center;
  left: 0%;
  position: absolute;
  text-align: center;
  top: -100%;
  transition: top 0.5s ease;
  width: 100%;
}

.CardName {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.CardLink {
  color: white;
  font-size: 40px;
  text-decoration: none;
  text-transform: capitalize;
}

.CardLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*-- CSS for SelectionCard --*/
.SelectionCardContainer {
  border: 1px solid black;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 400px;
}

.PhotoContainer {
  background-color: grey;
  height: auto;
  max-width: 100%;
}

/*-- CSS for Selection Page --*/
.SelectionContainer {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.NoSelectionContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PawImage {
  margin: 0px 20px;
  max-width: 100px;
}
